.intro-container{
    position: relative;
    top:-8rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    height: 100vh; 
}
.intro-content, .intro-img{
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
}
.intro-content{
    margin-bottom: 2rem;
}

.intro-img img{
    max-width: 100%;
    height: auto;
    z-index: 1;
}
